<section class='hero'>
    <div>
    <div class='hero-content'>
      <h1 class='hero-content__title' style="font-size:3rem; margin-top:5%;padding:1%">Create Survey,<br><br>Share,<br><br>And Get Opinions <br><br>World wide<br><br><br><br><br><b>Survey Cartel</b></h1>


    </div>
    <a class="btn btn-primary" style="height:70px; width:300px; font-size:1.5rem;text-align:center; margin-left:4%;padding:10px" [routerLink]="'/user/createsurvey/'">Create Survey Now</a>
  </div>
    <div class='hero-box-container'>
      <a  class='hero-box'>
        <span class='hero-box__circle hero-box__circle--blue'></span>
        <h2 class='hero-box__title'>Create</h2>
        <p class='hero-box__body'>Login and Create new survey<br>for free</p>
      </a>
      <a  class='hero-box'>
        <span class='hero-box__circle hero-box__circle--green'></span>
        <h2 class='hero-box__title'>Share</h2>
        <p class='hero-box__body'>Share with people world wide<br>to get opinions</p>
      </a>
      <a  class='hero-box'>
        <span class='hero-box__circle hero-box__circle--orange'></span>
        <h2 class='hero-box__title'>Enjoy</h2>
        <p class='hero-box__body'>Now you got the opinions from others enjoy and<br>use it to grow</p>
      </a>
    </div>
  
  </section>