<section class="vh-100"
  style="background: rgb(134,255,245);
background-image: linear-gradient(to right top, #261e22, #453d43, #656067, #87848d, #aaabb5, #a7abb4, #a4abb3, #a2abb2, #7b8488, #565e61, #353b3c, #171b1b);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <!-- {{user|json}} -->
                <!-- <form (ngSubmit)="formSubmit()"> -->
                <form (ngSubmit)="formSubmit()">



                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">BMI Calculator</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Calculate Your BMI for free Now!!</h5>

                  <div class="row">
                    <div class="col">
                      <input [(ngModel)]="bmiDetails.height" id="height" name="height" type="number"
                        class="form-control" placeholder="Height">
                    </div>
                    <div class="col">
                      <input [(ngModel)]="bmiDetails.weight" id="weight" name="weight" type="text" class="form-control"
                        placeholder="Weight">
                    </div>
                  </div>
                  <br>
                  <!-- <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Age">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Sex">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Waist">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Hip">
                    </div>
                  </div> -->



                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Calculate BMI</button>
                  </div>

                  <!-- bmi: 0.21
                  health: "Under Weight"
                  healthy_bmi_range: "18.5-24.9" -->

                </form>

                <div class="result">
                  <h3>Result</h3>
                  <div class="md-form">
                    <!-- <p></p>
                    <p></p>
                    <p>YOUR BMI - {{BmiRecivedResponse.info.healthy_bmi_range}}</p> -->
                    <textarea id="form7" class="md-textarea form-control" rows="3" cols="10"
                      placeholder="Your BMI Result">BMI - {{BmiRecivedResponse.info.bmi}}&#10;Health - {{BmiRecivedResponse.info.health}}&#10;Healthy BMI Range - {{BmiRecivedResponse.info.healthy_bmi_range}}</textarea>

                  </div>
                  <br>
                  <br>

                  <div> 
                    <h3>If you are facing any health issues create a survey in Community.</h3>                 
                    <a class="btn btn-primary" style="height:40px; width:150px; font-size:1rem;text-align:center;" [routerLink]="'/user/createsurvey/'">Create Survey</a>
                  </div>




                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>