<!-- Navbar -->
<nav class=" gr navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" [routerLink]="''">
        Survey Cartel
      </a>
  
      <!-- Toggle button -->
      <!-- <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      </button> -->
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" *ngIf="!isLoggedIn" [routerLink]="''">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLoggedIn" [routerLink]="'/home'">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/user/createsurvey'"  *ngIf="isLoggedIn">Create Survey</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/user/dashboard'" *ngIf="isLoggedIn">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/user/profile'"  *ngIf="isLoggedIn">My Profile</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
          <div *ngIf="isLoggedIn"  class="me-3" ><a style="text-decoration:none" [routerLink]="'user/profile'"><h4  style="margin-bottom: 0px;">{{currentUsername}}</h4></a>
            <!-- <div class="me-3"><h4>dlkfjdslaf</h4></div> -->
          </div>

          <button type="button" class="btn btn-primary px-3 me-2" [routerLink]="'/login'" *ngIf="!isLoggedIn" style="color:rgb(111, 111, 111); background-image: linear-gradient(to bottom, #d0c3eb, #cbc3e1, #c7c2d7, #c4c2cc, #c1c1c1);">
            Login
          </button>
          <button type="button" class="btn btn-primary me-3" [routerLink]="'/signup'" *ngIf="!isLoggedIn" style="color:rgb(111, 111, 111); background-image: linear-gradient(to bottom, #d0c3eb, #cbc3e1, #c7c2d7, #c4c2cc, #c1c1c1);">
            Sign up for free
          </button>
          <button type="button" id="logout" class="btn btn-primary me-3" *ngIf="isLoggedIn" (click)="logout()">
              Log Out          </button>
          <!-- <a
            class="btn btn-dark px-3"
            href="https://github.com/mdbootstrap/mdb-ui-kit"
            role="button"
            ><i class="fab fa-github"></i
          ></a> -->
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->